<div class='detailItem col-md-12'>
	<h2 class='name'>{{name}}</h2>
	<img src='{{image}}'>
	<h4 class='price'>{{price}}</h4>
	<p class='description'>{{desc}}</p>
	<button id='back' class='btn btn-default btn-md'>Back</button>
</div>